@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$assetPath: '../font';

@font-face {
    font-family: 'Gmarket Sans';
    font-weight: 300;
    font-style: normal;
    src: url(#{$assetPath}/GmarketSansLight.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    font-weight: 500;
    font-style: normal;
    src: url(#{$assetPath}/GmarketSansMedium.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-style: normal;
    src: url(#{$assetPath}/GmarketSansBold.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: url(#{$assetPath}/Pretendard-Thin.woff) format('woff');
}

.material-icons, .material-icons-outlined{
    color: inherit;
    font-size: inherit;
}

